:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: black;
  background-color: #F5F5F5;;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border-radius: 0.5em;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

h1{
  font-weight: 700;
  font-family: 'Inter', sans-serif;
  
}

p{
  font-weight: 700;
  font-family: 'Inter', sans-serif;
}


.register-child{
  margin-right: auto;
}

.card {
  padding: 2em;
}

input{
  padding: 0.75em 1em 0.5em 0.75em;
  border: solid lightgrey;
  border-radius:0.5em 0.5em 0.5em 0.5em;
  border-width: 0.15em;
}

input[type="checkbox"]{
  padding: 0.75em 0.75em 0.75em 0.75em;
  border: solid lightgrey;
  border-radius:0.5em 0.5em 0.5em 0.5em;
  border-width: 0.15em;
}

button[type="submit"]{
  background-color: #386cbb;
  border: #386cbb;
  color: white;
  width: 100%;
  margin-top: 1em;
}

.termsOfService{
  display: flex;
  font-size: 0.6em;
}

.error-component{
  display: flex;
  flex-direction: column;
}

.img{
  z-index: 0;
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.fa-lock{
  color: rgb(78, 78, 78);
  font-size: 11em;
  padding: 0.15em 0.3em 0 0.1em;
}

.fa-arrow-right-from-bracket{
  color: #BFBFBF;
  font-size: 4em;
  margin: 0;
}

.lockerButtonsSection{
  display: flex;
  flex-direction: row;
  position: relative;
  z-index: 1;
}

.buttons{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.white-box-home{
  position: absolute;
  z-index: -1;
}

.hi{
  display: flex;
  justify-content: space-between;
  font-size: 2em;
}

.btn1{
  height: 2em;
  font-family: Roboto, sans-serif;
  font-weight: 701;
  font-size: 20px;
  color: #383737;
  background-color: white;
  padding: 5px 21px;
  border: solid grey 0.17em;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  border-radius: 50px;
  transform: translateY(0);
  display: flex;
  align-items: center;
  cursor: pointer;
}

.btn2{
  height: 2em;
  font-family: Roboto, sans-serif;
  font-weight: 701;
  font-size: 20px;
  color: #106bcc;
  background-color: white;
  padding: 5px 21px;
  border: solid #4386c9 0.17em;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  border-radius: 50px;
  transform: translateY(0);
  display: flex;
  align-items: center;
}

.btn3{
  height: 2em;
  font-family: Roboto, sans-serif;
  font-weight: 701;
  font-size: 20px;
  color: #ff0000;
  background-color: white;
  padding: 5px 20px;
  border: solid #ff0000 0.17em;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  border-radius: 50px;
  transition : 1180ms;
  transform: translateY(0);
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logs-text{
  padding-top: 1em;
}

.footer{
  display: flex;
  flex-direction: row;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.white-box-footer{
  position: absolute;
  z-index: -1;
}

.footer-icon{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 2em;
  width: 100%;
  height: 9vh;
}

.footer-icon i{
  color: rgb(78, 78, 78);
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
